/*===========================

Custom Fonts

===========================*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*===========================

Universal Stylings

===========================*/
h1 {
	color: #FFCB0A;
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-bottom: .5rem;
}

h2 {
	color: #1b3561;
	font-family: 'Arvo', serif;
	text-align: center;
	margin: 1rem;
}

h3 {
	font-family: 'Lato', sans-serif;
}

h4 {
	font-family: 'Lato', sans-serif;
	color:#FFCB0A;
}

p {
	font-family: 'Lato', sans-serif;
	margin-bottom: .50rem;
}

.center-bold {
	text-align: center;
	font-weight: bold;
}
.width100 {
	max-width: 100%;
}

/*===========================

Floating Button + PopUp Add

===========================*/
.floating-btn {
	width: 4rem;
	height: 4rem;
	background: #FFCB0A;
	display: flex;
	border-radius: 50%;
	font-size: 2rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 2px 2px 5px rgba(0,0,0, .25);
	position: fixed;
	right: 20px;
	bottom: 20px;
	transition: background 0.25s;
	color: black;
	outline: blue;
	border: none;
	cursor: pointer;
	z-index: 102;
}

.floating-btn:active {
	background: black;
	color: white;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, .25);
	z-index: 99999;
}

#modal {
	max-width: 20rem;
	height: 35rem;
	margin: auto;
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.popup-container {
	padding: 1rem;
}
.home-popup-button-para {
	text-align: center;
}
.popup-photo {
	max-width: 100%;
}
.popup-form {
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.popup-form.input {
	background: black;
}
.name,
.email {
	font-size: 1.05rem;
	background: #FFCB0A4A;
	width: 100%;
	padding: .25rem;
}
.submit-popup {
	background: #FFCB0A;
	cursor: pointer;
	margin: 1rem auto;
	padding: .25rem;
	box-shadow: 2px 2px 5px rgba(0,0,0, .25);
}
/*===========================

Header

===========================*/
header {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 15rem;
	margin: 2rem;
}
.navigation {
	display: none;
	text-align: center;
}
.navigation.active {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFCB0A;
	z-index: 100;
}
.navigation.active a {
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	padding: 1rem;
}
nav ul {
	list-style-type: none;
}
nav li {
	margin: 3rem;
}

.toggleBox {
	padding-right: 2rem;
	font-size: 1.5rem;
	color: #1b3561;
	z-index: 101;
}
.menu,
.close {
	color: #1b3561;
	text-decoration: none;
}
.fa.fa-bars.menu.hide {
	display: none;
}
.fa.fa-times.close {
	display: none;
}
.fa.fa-times.close.show {
	display: flex;
}
a.no-underline {
	text-decoration: none;
}
/*===========================

Footer

===========================*/
footer {
	background: #e6f6fc;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
}
footer section {
	margin: 1rem;
}
footer a {
	color: black;
	text-decoration: none;
}
footer a:hover {
	color: #ffcb0a;
}
.footer-two {
	background: #ffcb0a;
	padding: .5rem;
	color: white;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
}
/*===========================

Home - Hero section

===========================*/
.hero {
  width: 100%;
	height: 200px;
  background: black;
  overflow: hidden;
}
.hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
  opacity: 75%;
	z-index: -100;
}
.hero-items {
	position: relative;
	text-align: center;
	top: -8rem;
	margin: 0 auto;
}
.hero-h1 {
	color: #FFCB0A;
	font-size: 2rem;
}

.home-intro-text {
	text-align: center;
  font-family: 'Arvo', serif;
	font-weight: 700;
	margin: 2rem;
	font-size: 2rem;
	color: #FFCB0A;
}

.home-intro-text span {
	color: #1b3561;
}


/*===========================

Home - Read More Section

===========================*/
.home-flexbox {
	font-family: 'Lato', sans-serif;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}
.home-flexbox-item {
	margin: 2rem;
	text-align: center;
}
.home-flexbox-text {
	margin-top: 1rem;
	text-align: justify;
}
.home_button {
	background-color: #1b3561;
	padding: 10px;
	width: 150px;
	border-radius: 4px;
	text-align: center;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
}
.home_button a {
	text-decoration: none;
	color: white;
	padding: 1rem;
}

/*===========================

Home - Icon section

===========================*/
.home-icons {
	background: #e6e2e2;
	padding: 2rem;
	margin: 3rem auto 0rem;
}

/*===========================

Home - API section

===========================*/

.container-news {
	width: 70%;
	margin: 0 auto;;
	padding: 40px 0;
  }
  
  .news-title {
	text-align: center;
	font-weight: 500;
  }
  
  ul {
	list-style-type: none;
  }
  
  .news-block {
	margin: 18px 8px;
	min-height: 100px;
	padding: 15px;
	background: white;
	display: flex;
	border: 1px solid #e9e9e9;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 2px 0px #888;
	box-shadow: 1px 1px 2px 0px #888;
  }
  
  .news-image {
	border-radius: 100%;
	height: 100px;
	width: 100px;
  }
  
  .container-news a {
	font-size: 1.3rem;
	color: black;
  }
  
  .container-news a:hover {
	text-decoration: underline;
	color: #1b3561;
  }
  
  .news-block:hover {
	-webkit-box-shadow: 3px 2px 8px -2px #888;
	box-shadow: 3px 2px 8px -2px #888;
	transition: all 0.4s;
  }
  
  .news {
	padding-left: 10px;
  }
  
  .published-label {
	font-weight: 500;
	color: #1b3561;
  }
  
  .published-value {
	color: #FFCB0A;
  }
  
  .news-description {
	margin: 5px 0px;
  }

  .search-input {
	padding: 7px;
	border: 1px solid #888;
	border-radius: 2px;
	flex-grow: 1;
  }
  
  .search-btn {
	color: #fff;
	background-color: #1b3561;
	cursor: pointer;
	border: 1px solid #1b3561;
	border-radius: 2px;
	padding: 5px;
	width: 90px;
	font-size: 14px;
	height: 32px;
	margin-left: 5px;
  }
  
  .search-btn:hover {
	background-color: #3e69b3;
  }
  
  .search-container {
	margin: 0 8px;
	display: flex;
  }
  
  .news-content {
	padding-left: unset;
  }
  
  @media (max-width: 576px) {
	.container-news {
	  width: unset;
	  margin: 0 10px;
	}
  
	.news-block {
	  flex-direction: column;
	}
  
	.img-container {
	  width: 100%;
	}
  
	.news-image {
	  border-radius: 4px;
	  height: 200px;
	  width: 100%;
	}
  
	.news {
	  padding-left: unset;
	}
  }
/*===========================

Secondary Pages

===========================*/
main {
	clear: both;
	width: 100%;
}
/*===========================

/****************************

About Section

*******************************/


.about-hero {
	position: relative;
	text-align: center;
	color: white;
	
}

.about-h2 {
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: lighter;
    font-size: 3rem;
    position: absolute;
    top: 40%;
    padding: 0 10%;
}



.together-flexbox {
	flex-direction: row;
	display: inline;
	align-items: stretch;	
	text-align: left;
}
.word-flexbox {
	flex-direction: row;
	display: inline;
	align-items: stretch;
	text-align: right;
}

.featured {
	position: relative;
	text-align: center;
	color: white;	
}


.team h4 {
	text-align: center;
	padding-bottom: 1%;
	padding-top: 2%;
}

.team p{
	text-align: center;
}
.team-container {
	display: inline-flexbox;
}


/********************************

Our Work Hero Section

********************************/
.ow_body {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.ow_page_wrapper {
	max-width: 1200px;
}

.ow_hero {
	margin: 0 auto;
}
.ow_hero h1 {
	margin-top: -12px;
}

.ow_content {
	margin: 3%;
	padding-top: 20px;
}


.ow_content p {
	padding-bottom: 30px;
}

.ow_content h2, h3 {
	text-align: left;
	margin: 0 0 30px 0;
}


.ow_hero {
	margin-top: 30px;
	padding: 12% 3% 20% 3%;
	background-image: url(../images/our_work_hero3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	max-height: 300px;
}

.ow_hero h1 {
	color: #1b3561;
}


/*************************************

Our Work Process Section

**************************************/
.ow_process {
	margin-top: 30px;
	margin: 0 auto;
}

.ow_numbers {
	color: white;
	background-color: #1b3561;
	padding: 8px;
	border-radius: 4px;
}


/*************************************

Our Work Partners Section

**************************************/

.ow_partners {
	background-color: #ebf7fd;
	padding: 40px 0 40px 0;
}

.ow_partners_content {
	margin: 3%;
}

.ow_partners h2 {
	margin: 0 0 30px 20px;
	text-align: left;
}

.ow_partners_content h3 {
	margin: 20px 0 20px 0;
}

.ow_partner_section {
	margin: 0 auto;
	max-width: 350px;

}

.ow_partner_section div  {
	margin: 3%;
}

.partner_image {
	width: 100%;
	max-width: 300px;
	margin-top: 50px;
}

.ow_button {
	background-color: #1b3561;
	padding: 10px;
	width: 150px;
	border-radius: 4px;
	text-align: center;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
}

#readmore {
	display: none;
}

#readmore2 {
	display: none;
}

#readmore3 {
	display: none;
}
/*************************************

Our Work Outcomes Section

**************************************/
#outcomes {
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 1500px;
}

.ow_content li {
	font-family: 'Lato', sans-serif;
}

.ow_content ul {
	margin-left: 20px;
}

/*****************************


Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/

@media screen and (min-width: 575px) {
	/* Hero Section */
	.hero {
		height: 400px;
	}
	/* Home Read More Section */
	.home-flexbox-item {
		max-width: 20rem;
	}
	/* Home Icon Section */
	.flex-icon {
		max-width: 20rem;
	}
}

@media (min-width:768px) {
	#flex-container {
		display: flex;
	}

	/* Our Work Partner Section */
	.ow_partner_section {
		max-width: 250px;
	}

	#ow_partners_content {
		display:flex;
		justify-content: space-evenly;

	}

}

@media (min-width: 1000px){
	.ow_hero {
		margin-top: 30px;
		padding: 10% 3% 20% 3%;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		max-height: 300px;
	}

	.ow_content {
		margin: 1%;
	}

	.process_flex_item{
		max-width: 350px;
	}

	.ow_process_container {
		display: flex;
		justify-content: space-evenly;
	}

	/* Our Work Partner Section */
	#ow_partners_content {
		display:flex;
		justify-content: space-evenly;

	}
	.ow_partner_section{
		max-width: 350px;
	}
	/*PopUp Ad */
	#modal {
		max-width: 40rem;
		height: 40rem;
	}
	.popup-container {
		padding: 2rem;
	}
}

/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/

@media screen and (min-width: 1366px) {
	/* Header */
	.logo{
		clear: none;
		float: left;
	}
	.navigation {
		display: flex;
	}
	.toggleBox {
		display: none;
	}
	header li {
		float: left;
		margin: .5rem;
	}
	.active-menu-item {
		color: white;
		background: #FFCB0A;
		margin: 2rem;
		padding: 1rem;
		border-radius: .5rem;
	}
	.menu-item {
		background: #1b3561;
		margin: 2rem;
		padding: 1rem;
		border-radius: .5rem;
	}
	nav li a {
    color: white;
		margin: 2rem;
		padding: 1rem;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
 		font-size: 1.25rem;
  }
  nav li a:hover {
  }


	/* Hero */
	.hero {
		height: 500px;
	}
	/* Home Read More Section */
	.home-flexbox-item {
		max-width: 30rem;
	}

	/* Home Icon Section */
	.flex-icon {
		max-width: 18rem;
	}

	/* Footer */
	footer{
		background: #e6f6fc;
		font-family: 'Lato', sans-serif;
	  text-align: justify;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
		padding: 2rem;
	}
	.footer-flexbox-item {
		max-width: 18rem;
		padding: 0 2rem;
		text-align: center;
		width: 100%;
	}
}

/*===========================

Responsive Web Coding - 1920px by 1024 px (Desktop)

===========================*/

@media screen and (min-width: 1500px) {

}
