/*===========================

Custom Fonts

===========================*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*===========================

Reset Rule

===========================*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*===========================

Universal Stylings

===========================*/
h1 {
	color: #FFCB0A;
	font-family: 'Arvo', serif;
	font-weight: 700;
	padding-bottom: .5rem;
}

h2 {
	color: #1b3561;
	font-family: 'Arvo', serif;
	text-align: center;
	margin: 1rem;
}

h3 {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	margin-bottom: .50rem;
}

.center-bold {
	text-align: center;
	font-weight: bold;
}
.width100 {
	max-width: 100%;
}
/*===========================

Header

===========================*/

.logo {
	width: 15rem;
	margin: 2rem;
}

nav li a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
}
/*===========================

Footer

===========================*/
footer {
	background: #e6f6fc;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
}
footer section {
	margin: 1rem;
}
footer a {
	color: black;
	text-decoration: none;
}
footer a:hover {
	color: #ffcb0a;
}
.footer-two {
	background: #ffcb0a;
	padding: .5rem;
	color: white;
	font-style: italic;
	margin: 0 auto;
	text-align: center;
}
/*===========================

Home - Hero section

===========================*/
.hero {
  width: 100%;
	height: 200px;
  background: black;
  overflow: hidden;
}
.hero-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
  opacity: 75%;
}
.hero-items {
	position: relative;
	text-align: center;
	top: -8rem;
	margin: 0 auto;
}
.hero-h1 {
	color: #FFCB0A;
	font-size: 2rem;
}

.home-intro-text {
	text-align: center;
  font-family: 'Arvo', serif;
	font-weight: 700;
	margin: 2rem;
	font-size: 2rem;
	color: #FFCB0A;
}

.home-intro-text span {
	color: #1b3561;
}


/*===========================

Home - Read More Section

===========================*/
.home-flexbox {
	font-family: 'Lato', sans-serif;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}
.home-flexbox-item {
	margin: 2rem;
	text-align: center;
}
.home-flexbox-text {
	margin-top: 1rem;
	text-align: justify;
}
.home-read-more {
	background: #e6e2e2;
	max-width: 50%;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	border-radius: .5rem;
	margin-top: 1rem;
}
.home-read-more a {
	text-decoration: none;
	color: #1b3561;
	padding: 1rem;
}

/*===========================

Home - Icon section

===========================*/
.home-icons {
	background: #e6e2e2;
	padding: 2rem;
	margin: 3rem auto 0rem;
}


/*===========================

Secondary Pages

===========================*/
main {
	clear: both;
	width: 100%;
}
/*===========================

/********************************

Our Work Hero Section

********************************/

.ow_content {
	margin: 3%;
}

.ow_content p {
	padding-bottom: 30px;
}

.ow_content h2, h3 {
	text-align: left;
	margin: 0 0 30px 0;

}

/*
.ow_hero {
	margin-top: 30px;
	padding: 12% 3% 70% 3%;
	background-image: url(../images/our_work_hero3.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	max-width: 1200px;
}
*/

.ow_hero_image {
	width: 100%;
	max-width: 2000px;
	z-index: -1;
}

.ow_hero h1 {
	color: #1b3561;
	margin-bottom: 20px;
}


/*************************************

Our Work Process Section

**************************************/
.ow_process {
	margin-top: 50px;
}
.ow_numbers {
	color: white;
	background-color: #1b3561;
	padding: 8px;
	border-radius: 4px;
}

.process_flex_item {
	max-width: 350px;
}

/*************************************

Our Work Partners Section

**************************************/
.ow_partners {
	background-color: #ebf7fd;
	padding: 40px 0 40px 0;
}
.ow_partners_content {
	margin: 3%;
}

.ow_partners h2 {
	text-align: left;
	margin: 0 0 30px 0;
}

.ow_partners_content h3 {
	margin: 20px 0 20px 0;
}

.partner_image {
	width: 100%;
	max-width: 350px;
}

.ow_button {
	background-color: #1b3561;
	padding: 10px;
	width: 150px;
	border-radius: 4px;
	text-align: center;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
}

.ow_partner_section {
	margin-bottom: 40px;
	max-width: 350px;
}

/*************************************

Our Work Outcomes Section

**************************************/
.ow_content li {
	font-family: 'Lato', sans-serif;
}

/*****************************


Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/

@media screen and (min-width: 575px) {
	/* Hero Section */
	.hero {
		height: 400px;
	}
	/* Home Read More Section */
	.home-flexbox-item {
		max-width: 20rem;
	}
	/* Home Icon Section */
	.flex-icon {
		max-width: 20rem;
	}
}

@media (min-width:768px) {
	#flex-container {
		display: flex;
	}
}


/*===========================

Responsive Web Coding - 1366px by 768px (Laptop)

===========================*/

@media screen and (min-width: 1366px) {
	/* Header */
	.logo{
		clear: none;
		float: left;
	}
	header ul {
		float: right;
	}
	header li {
		float: left;
		margin-top: 2rem;
	}
	nav li a {
    color: white;
		background-color: #1b3561;
		margin: 2rem;
		padding: 1rem;
		border-radius: .5rem;
  }
  nav li a:hover {
  }
	/* Hero */
	.hero {
		height: 500px;
	}
	/* Home Read More Section */
	.home-flexbox-item {
		max-width: 30rem;
	}
	.ow_partners_content{
		display: flex;
		justify-content: space-evenly;
	}
	.ow_process_container {
		display: flex;
		justify-content: space-evenly;
	}
	/* Home Icon Section */
	.flex-icon {
		max-width: 18rem;
	}
	/* Footer */
	footer{
		background: #e6f6fc;
		font-family: 'Lato', sans-serif;
	  text-align: justify;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-between;
		padding: 2rem;
	}
	.footer-flexbox-item {
		max-width: 18rem;
		padding: 0 2rem;
		text-align: center;
		width: 100%;
	}
}

/*===========================

Responsive Web Coding - 1920px by 1024 px (Desktop)

===========================*/

@media screen and (min-width: 1500px) {

}
